/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@gmail.com
*/

@import "../../consts/colors.scss";
@import "../../consts/variables.scss";

.mainPage {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    background-image: url("../../static/imgs/main.png");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;

    .title {
      font-weight: bold;
      font-size: 60px;
      line-height: 1.5;
      color: $main-color;
      margin-right: 25px;
    }

    .logo {
      color: $main-color;
      font-family: "Futura", sans-serif;
      font-weight: 900;
      font-size: 4rem;
      margin: 0;
      margin-top: 1rem;
    }

    .startBtn {
      font-size: 1.2rem;
      font-weight: 900;
      font-family: "Futura", sans-serif;
      background: $white;
      border-radius: 50px;
      color: $main-color;
      padding: 0.8rem 1.2rem;
      outline: none;
      border: 0;
      margin-top: 3rem;
    }
  }

  .body {
    background: $main-color;
    padding-top: 10rem;

    &::after {
      display: block;
      clear: both;
      content: "";
    }

    .section {
      display: flex;
      justify-content: center;
      padding: 12rem 0;
      background: white;
      width: 75%;
      margin-bottom: 120px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }

      .content {
        width: $content-width;
        padding-left: 5rem;
        position: relative;
        z-index: 100;

        .number {
          position: absolute;
          top: -50px;
          left: 0px;
          font-size: 100px;
          font-weight: 900;
          color: $number-color;
          font-family: "Futura", sans-serif;
          z-index: -100;
        }

        .title {
          font-size: 45px;
          margin: 0;
        }

        .logo {
          > span {
            color: $main-color;
          }
          font-family: "Futura", sans-serif;
          font-weight: 900;
          font-size: 1rem;
        }

        .description {
          margin-top: 3rem;
          line-height: 1.89;
        }

        .pic01 {
          position: absolute;
          width: 400px;
          top: -100px;
          left: 0;
        }

        .pic02 {
          position: absolute;
          width: 500px;
          top: -200px;
          right: 0;
        }

        .pic03 {
          margin-top: 5rem;
        }
      }
    }
  }

  .lastSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $main-color;
    background: white;
    height: 1000px;

    > .description {
      width: 464px;
      font-size: 40px;
    }

    > .logo {
      font-size: 140px;
      font-weight: bold;
    }

    .button {
      font-size: 21.5px;
      width: 229px;
      height: 80px;
      font-weight: bold;
    }
  }

  .selectSelection {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: $white;

    .content {
      position: relative;
      width: $content-width;
      box-sizing: border-box;
      // padding: 2rem;

      .menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 350px;

        &__item {
          display: inline-flex;
          align-items: center;
          flex-direction: column;
          padding: 2rem;
          width: 100%;
          color: $main-color;
          cursor: pointer;
          transition: 0.3s;

          &.active {
            color: $white;
            background: $main-color;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: 0.3s;

            .circle__small {
              background: white;
            }
          }

          .circle__small {
            border-radius: 50%;
            background: $white-gray;
            width: 100px;
            height: 100px;
          }

          .description {
            margin-top: 2rem;
            font-weight: bold;
          }
        }
      }

      .bars {
        display: flex;
        justify-content: space-between;
        width: $content-width;
        padding: 0;
        margin: 2rem 0;
        list-style: none;

        &__bar {
          display: block;
          width: 100%;
          height: 8px;
          background: $white-gray;

          &.active {
            background: $main-color;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  footer {
    background: #313131;
    height: 358px;
  }
}
