/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@gmail.com
*/

@import "../../consts/colors.scss";
@import "../../consts/variables.scss";

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  border: none;
  background: linear-gradient(to right, #725bb5 0%, #fd5e9b 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
