/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@gmail.com
*/

@import "../../consts/colors.scss";
@import "../../consts/variables.scss";

.card {
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  background: $white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  padding-top: 7px;
  padding-bottom: 11px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #bcbcbc 0%, #d1d1d1 99%);
  border-image-width: 0 0 0 10px;
  border-image-slice: 1;

  &__header {
    display: flex;
    justify-content: space-between;

    &__left {
      font-weight: bold;
      font-size: 14px;
    }

    &__right {
      font-size: 13px;
      font-weight: bold;
      color: #6e6e6e;
    }
  }
  &__body {
    padding-top: 13px;
    padding-bottom: 20px;
  }
  &__bottom {
    border-top: 2px solid #dcdcdc;
  }
}

.admin {
  background: #fff7fa;
  border-style: solid;
  border-image: linear-gradient(to bottom, #725bb5 0%, #fd5e9b 100%);
  border-image-width: 0 0 0 10px;
  border-image-slice: 1;
}
