@import "../../consts/colors.scss";
@import "../../consts/variables.scss";

.root {
  margin: 0;
  height: 100%;
}
.body {
  position: fixed;
  width: 100%;
  height: 100%;

  &_container {
    height: 100%;

    &_left {
      float: left;
      width: 50%;
      height: 100%;

      .uploadRect {
        height: 100%;
        width: 100%;

        .uploadForm {
          height: 100%;
          width: 100%;
          display: table;

          &_Rect {
            height: 100%;
            display: table-cell;
            vertical-align: middle;

            &_Dropzone {
              display: block;
              margin: auto;
              top: -10%;
              width: 80%;
              height: 50%;
              background: $gray;
              border-style: solid;
            }
            &_Content {
              position: relative;
              float: left;
              text-align: center;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    &_right {
      width: 50%;
      height: 100%;
      float: right;

      .inputRect {
        width: 100%;
        height: auto;
        margin-top: 20%;

        .inputForm {
          width: 100%;
          height: 100%;
          &_titleRect {
            display: flex;
            &_left {
              width: 20%;
              text-align: right;
              margin-right: 5%;
            }
          }
          &_writerRect {
            display: flex;
            padding-top: 2%;
            padding-bottom: 2%;
          }
          &_passwordRect {
            display: flex;
          }
          &_title {
            width: 70%;
          }
          &_writer {
            width: 30%;
          }
          &_password {
            width: 40%;
          }
        }
      }
      .submitRect {
        width: 100%;
        .submitForm {
          padding-top: 2%;
          width: 100%;

          &_ok {
            padding: 10px 20px 10px 20px;
            margin-right: 2px;
            float: right;
          }
          &_cancel {
            padding: 10px 20px 10px 20px;
            float: right;
            margin-right: 5%;
          }
        }
      }
    }
  }
}
