$main-color: #725bb5;
$light-main-color: #eef0ff;
$white: #ffffff;
$white-gray: #e8e8e8;
$light-gray: #d6d8d8;
$gray: #9b9b9b;
$dark-gray: #5b5e6d;
$black: #282828;
$dark-white: #f8f8f8;
$red: #dc143c;
$green: #d2e7d2;
$blue: #acdae5;
$white-blue: #fcfdff;

$number-color: #f6f5f6;
