$main-color: #6d5eaf;
$light-main-color: #dbcfff;
$pink: #fd5e9b;
$white: #ffffff;
$white-gray: #e8e8e8;
$light-gray: #d6d8d8;
$gray: #9b9b9b;
$dark-gray: #5b5e6d;
$black: #1c1c1c;
$dark-white: #f8f8f8;
$red: #dc143c;
$green: #d2e7d2;
$blue: #acdae5;
$white-blue: #fcfdff;

$gray15: #eeeeee;
$number-color: #d8d8d8;
